/* .underline{
  list-style-type: none;
  display: flex; 
  height: 44px;
  overflow: hidden;
  background-color: #05386B;
  color: #EDF5E1;
  font-size: 18px;
}
.items{
    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    color: #EDF5E1;
    flex:3;

}

.links{
    padding: 8px;
    text-decoration: none;
    color: #EDF5E1;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
} */
h3 {
  color: crimson;
}
.press {
  display: inline-block;
  width: 35px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #111;
  background-color: lightgrey;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.press:hover {
  background-color: #666;
}
.press:active {
  background-color: #05386b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.logout {
  display: inline;
  float: right;
  margin-right: 20px;
  margin-top: 2px;
}

/* p{
  display: inline;
  color: #EDF5E1;
  font-size: 18px;
   margin-right: 20px;
   background-color: #07427c;
}  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 80px;
  display: flex;
  font-size: 18px;
  background-color: #05386b;
  color: #edf5e1;
  align-items: center;
  /* justify-content: flex-end; */
  padding: 0 16px;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
  line-height: 30px;
}

nav > ul {
  visibility: visible;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav > ul > li {
  height: 10%;
  margin-right: 20px;
}

nav > ul > li > a {
  color: #edf5e1;
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 4px;
}

nav > ul > li > a:hover {
  color: aqua;
  text-decoration: none;
}
