.filter{
    color: red;
}

.selected{
    color: green;
}

.span{
    color: purple;
}

.slice{
    color: blue;
}

.blue{
    color: cornflowerblue;
}
.highlight{
    color:crimson;
    background-color: yellow;
}
.hilight{
    background-color: turquoise;
}