body{
    margin: 0;
    padding: 0;
    background: url(./images/forget1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.forget{
    width: 420px;
    height: 260px;
    background: rgb(62, 46, 124);
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    font-size: 18px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

#password{
    font-size: 18px;
    font-style: italic;
    color: #ffff;
}

.forget input{
    width: 40%;
    margin-bottom: 20px;
}


.forget input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffff;
    font-size: 16px;
}

.forget input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: lightcoral;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    justify-content:space-around;
}

.forget input[type="button"]:hover{
    cursor: pointer;
    background:#ffc107;
    color: #000;
}

.forget input{
    width: 40%;
    margin-bottom: 20px;
}


.forget input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffff;
    font-size: 16px;
}

.forget input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: lightcoral;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    justify-content:space-around;
}

.forget input[type="submit"]:hover{
    cursor: pointer;
    background:#ffc107;
    color: #000;
}



