<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/signup" method="POST" id="form" class="row g-3 needs-validation" novalidate>
        <h1>Sign up</h1>
        <p>Provide all the correct info to create an account</p>



        <input type="text" class="form-control" id="validationCustom03" placeholder="Username" name="Username" required>


        <input type="email" class="form-control" id="validationCustom04" placeholder="Email-Id" name="Emailid" required>






        <input type="password" class="form-control" id="validationCustom05" placeholder="Password" name="Password"
            required>



        <input type="password" class="form-control" id="validationCustom06" placeholder="Confirm Password"
            name="ConfirmPassword" required>



        <div>
            <button class="btn" type="submit">Submit form</button>
        </div>

    </form>
</body>

</html>