<%- include('./layouts/header') %>

  <h1 class="title">Role Based Access Control</h1>
  <div class="tutorial-info">
    <ol class="tutorial-info">
      <li><b>Express JS </b></li>
      <li><b>EJS</b> templating engine</li>
      <li>
        <b>Styling — </b>custom CSS
      </li>
      <li><b> PassportJS </b>local authentication(email, password)</li>
      <li><b>Roles</b> (admin, intermeditate, client)</li>
      <li><b>Authorization</b> (admin, intermeditate and user routes)</li>
      <li><b>Mongoose</b> </li>
      <li><b>express sessions</b></li>
      <li>
        Using sessions to <b>persist login </b> (using Mongo
        Store)
      </li>
      <li><b>Redirect</b> to same page after login.</li>
      <li><b>Validating</b> user input server side</li>
      <li><b>Flash messages</b></li>
      <li>Handling <b>HTTP error</b> Status codes(ex: 404, etc)</li>
    </ol>
  </div>

  <%- include('./layouts/footer') %>