*{
    font-family: sans-serif;
}

.header{
    background: rgb(0,127,255);
    color: white;
    padding: 4px;
}
 
.message{
    height: 80%;
    padding: 3px;
    overflow: auto;
}

.text{
    margin-top: 4px;
    padding: 4px;
    height: 80%;
}

#type{
    width: 90%;
    height: 100%;
    resize: none;
    padding: 3px;
}

.send{
    background: rgb(0,127,255);
    color: white;
    padding: 8px;
    font-size: 18px;
    position: absolute;
    margin:8px;
}