.nav{
    color:#ffff;
}
a:hover{
color: black;
}

.username:hover{
    color: black;
    cursor: pointer;
}

select {
  border: none;
  font-size: 1.05rem;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

input[type='submit'] {
  background: transparent;
  color: #1619c2;
  border: none;
  outline: none;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 17px;
}