#drag {
    position: absolute;
    width: 200px;
    text-align: center;
    background-color: #cdcdcd;
    border: 1px solid #d3d3d3;
    z-index: 5;
}

#drag-header {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    z-index: 6;
    background: linear-gradient(to right, red, yellow);
}